---
import Linkedin from "../assets/icons/Linkedin.svg?raw";
import Mail from "../assets/icons/Mail.svg?raw";
import MapPin from "../assets/icons/MapPin.svg?raw";
// import Phone from "../assets/icons/Phone.svg?raw";
import ExternalLink from "../assets/icons/ExternalLink.svg?raw";
import Github from "../assets/icons/Github.svg?raw";
---

<footer class="container">
  <div class="-mx-4 h-[3px] bg-green-200"></div>
  <div class="mt-4 flex flex-wrap md:flex-nowrap justify-between gap-10">
    <div
      class="flex flex-wrap md:flex-nowrap justify-start md:justify-around gap-10 md:gap-15"
    >
      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl">Contact</h2>
        <!-- <div class="flex items-center gap-4">
          <Fragment set:html={Phone} />
          <a href="tel:+66942519347">094-251-9437</a>
        </div> -->
        <div class="flex items-center gap-4">
          <div class="w-8 h-8 flex items-center">
            <Fragment set:html={Mail} />
          </div>
          <a href="mailto:noppadon.ttk@gmail.com">noppadon.ttk@gmail.com</a>
        </div>
        <div class="flex items-center gap-4">
          <div class="w-8 h-8 flex items-center">
            <Fragment set:html={MapPin} />
          </div>
          <p>Bangkok, Thailand</p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl">Social</h2>
        <div class="flex items-center gap-4">
          <div class="w-8 h-8 flex items-center">
            <Fragment set:html={Linkedin} />
          </div>
          <a href="https://www.linkedin.com/in/noppadon-ttk" target="_blank">
            <div class="flex items-center gap-1 hover:underline">
              noppadon-ttk
              <div class="w-4 h-4">
                <Fragment set:html={ExternalLink} />
              </div>
            </div>
          </a>
        </div>
        <div class="flex items-center gap-4">
          <div class="w-8 h-8 flex items-center">
            <Fragment set:html={Github} />
          </div>
          <a href="https://github.com/Note5019" target="_blank">
            <div class="flex items-center gap-1 hover:underline">
              Note5019
              <div class="w-4 h-4">
                <Fragment set:html={ExternalLink} />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="grow md:grow-0 flex flex-col items-center justify-center text-sm text-gray-500"
    >
      <span>&copy; 2025 Noppadon Tongtrakoon</span>
      <span>All rights reserved</span>
    </div>
  </div>
</footer>
